#contact {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

#contact h1 {
    font-weight: bold;
}

#contact h2 {
    font-weight: 300;
    margin-bottom: 5vh;
}

#contact a {
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 64px;
    margin: 0 30px 0 30px;
}
/*
    Used to combat the JSX-ESLint "anchor-has-content" error
    Wrapping text in a <span> within an <a> will hide it
*/
#contact a span {
    line-height: 0; 
    font-size: 0;
    visibility: hidden;
}

#contact .contents {
    padding-top: 30vh;
}

#contact p {
    padding-top: 5vh;
}

/* contact info : screen width < 525px */
@media only screen and (max-width: 525px) {
    #contact a {
        font-size: 48px;
    }
}

/* FIRST VIEW ANIMATION */
#contact.view-0 {
    visibility: hidden;
}
#contact.view-1 :first-child {
    animation: Fade-In-Up 1000ms forwards;
}
#contact.view-1 :not(:first-child) {
    animation: Fade-In-Up 1500ms forwards;
}
@keyframes Fade-In-Up {
    from {
      transform: translateY(10vh);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
}