.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Scrollbar */
 html {
  scrollbar-width: thin;
}
body::-webkit-scrollbar {
  width: 12px;
}
  body::-webkit-scrollbar-track {
  background: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border: 3px solid #fff;
  border-radius: 10px;
}

/* Navigation Bar initial animation */
nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
nav.navigation,
nav.navigation-appear,
nav.navigation-enter {
    transform: translateY(-10vh);
}
nav.navigation-appear-done,
nav.navigation-enter-done {
    transition: transform 1000ms;
    transform: translateY(0);
}

/*
  notes

  < 1200px : projects starts looking bad
  < 992px  : navbar goes to compact mode, initial text is getting a bit too small
  < 865px  : navbar starts messing up
*/